<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>Professor Page</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" type="text/css" href="http://www.princeton.edu/~yingxuel/base.css">
    <link rel="stylesheet" type="text/css" href="http://www.princeton.edu/~yingxuel/skeleton.css">
    <link rel="stylesheet" type="text/css" href="http://www.princeton.edu/~yingxuel/layout.css">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>



    <!-- Primary Page Layout
    ================================================== -->

    <!-- Delete everything in this .container and get started on your own site! -->

    <div class="container">
    
        <div class="sixteen columns">
            <h1 style="20px">Hello [Professor name here].</h1>
            <h2 style="20px">You are writing questions for [Class name].</h2>
            <hr />
        </div>
        
        <div class="five columns" style="height:480px; width:240px; border:1px solid #ccc; 
        font:16px/26px Georgia, Garamond, Serif; overflow:auto;">
            Replace me, I'm a scrolling box.
        </div>        
        
        <div class="eleven columns">
            <form action="new_question.html" method="post">
                New question:<br />
                <textarea name="new_question" id="new_question"></textarea><br />
                <input type="submit" value="Create"/>
                <hr />
            </form>
        </div>
        
        <div class="eleven columns">
            <h3>Current question:</h3>
            <p>Derp.</p>
            <ul>
                <button class="button">Close</button>
                <button class="button">Hide/Reveal</button>
                <button class="button">Refresh</button>
            </ul>
        </div>
        
        <div class="eleven columns">
            <h3>Student responses:</h3>
        </div>
        
        <div class="eleven columns" style="height:240px; width:480px; border:1px solid #ccc; 
        font:16px/26px Georgia, Garamond, Serif; overflow:auto;">
            Student response 1. <br />
            Student response 2. <br />
            Student response 3. <br />
            Student response 4. <br />
        </div>  
        
    </div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>